
mixin navbar(options)
    script(src='https://account.snatchbot.me/script.js')
    script.
        window.sntchChat.Init(129793)
    nav.navbar.navbar-expand-lg(class=options.navbarBg, class=options.navbarStyle, class=options.navbarPosition, style='font-weight: 500;')
            a.navbar-brand(href='index.html', class=options.navbarBrandColor)
                img(src='assets/img/dochase_logo.png' width='150' height='100' alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='index.html')
                            | Home
                    li.nav-item.ml-lg-3
                        a.nav-link(href='dochase-chatbot.html')
                            | Chatbot
                    li.nav-item.ml-lg-3
                        a.nav-link(href='rich-media.html')
                            | Rich Media
                    li.nav-item.ml-lg-3
                        a.nav-link(href='sentiment-analysis.html')
                            | Sentiment Analysis
                    li.nav-item.dropdown.no-caret.ml-lg-3
                        a#navbarDropdownPages.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Case Studies
                        .dropdown-menu.dropdown-menu-center.animated--fade-in-up(aria-labelledby='navbarDropdownPages')
                            .row.no-gutters
                                a.dropdown-item(href='case-studies.html#sports-betting') Sports Betting
                                a.dropdown-item(href='case-studies.html#finance') Finance
                                a.dropdown-item(href='case-studies.html#sexual-health') Sexual Health
                                a.dropdown-item(href='case-studies.html#real-estate') Real Estate
                                a.dropdown-item(href='case-studies.html#beer-brands') Beer Brands
                                a.dropdown-item(href='case-studies.html#mobile-phones') Mobile Phones
                                .dropdown-divider.border-0
                    li.nav-item.dropdown.no-caret.ml-lg-3
                        a#navbarDropdownPages.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Mobile Use
                        .dropdown-menu.dropdown-menu-center.animated--fade-in-up(aria-labelledby='navbarDropdownPages')
                            .row.no-gutters
                                a.dropdown-item(href='programmatic.html#click-to-whatsapp') Click to WhatsApp
                                a.dropdown-item(href='programmatic.html#click-to-ussd') Click to USSD
                                a.dropdown-item(href='programmatic.html#click-to-call') Click to Call
                                .dropdown-divider.border-0
                    li.nav-item.ml-lg-3
                        a.nav-link(href='index.html#contact-us').btn-teal.btn.rounded-pill.px-4.ml-lg-2
                            | Contact Us
                    
                