extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'About Us'

append css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

   
    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-50',
        pageHeaderBgImg: 'background-image: url("assets/img/tech-firm.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.py-5
            .container
                .row.justify-content-left
                    .col-xl-8.col-lg-10.text-left
                        div(data-aos='fade-up')
                            h1.page-header-title
                                b  ABOUT US
                                br
                            p.page-header-text
                                | Our proven cross-channel technology enables brands and advertising agencies to advertise to their right customers on the internet.
                                br
                                br
                        a.btn.btn-red.btn-marketing.rounded-pill(href='index.html#contact-us') Contact us


    //- * * * * * * * * * * *
    //- * * About Sections * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-5',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .card.text-center.text-decoration-none.h-100
                .card-body.bg-light-soft.py-5
                    p.text-justified.text-center
                        | Dochase is a marketing technology company leveraging data, insight, channels and tools to enable brands scale.
                        br
                        | Over the years, we have grown to be the pioneer of Ad exchange in Africa, leader in advertising tech industry, setting and improving industry standards.
                    p
                        | As an Ad exchange, Dochase gives local publishers the opportunity to interface with various advertisers worldwide and vice versa. Many brands trust Dochase for effective advertising campaigns in Africa, America and Europe.


    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-5',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.align-items-center
                .col-lg-6(data-aos='fade-right')
                    h1.page-header-title.text-center.text-red
                        b Our Mission
                    p.lead
                        | To develop, adopt and deploy innovative technology, platforms and products that will aggregate useful marketing data, create connections with the users and deliver value for stakeholders. 
                
                .col-lg-6(data-aos='fade-left')
                    h1.page-header-title.text-center.text-red
                        b Our Vision
                    p.lead
                        | To be the data and internet company that facilitate connection between businesses and customers  and bringing to people products they love, need and want.



    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.align-items-center.justify-content-center
                .col-md-9.col-lg-6(data-aos='fade-right')
                    .content-skewed.content-skewed-right
                        .screen
                            img.img-fluid.content-skewed-item.shadow-lg.rounded-lg(src='assets/img/programmatic.png' width='500' height='350' alt='')
                        
                hr
                .col-lg-6(data-aos='fade-left')
                    h1.page-header-title.text-center
                        b The Digital Age
                    p.lead
                        | Dochase advertising technology connects advertisers and brands to target tailored audience on multiple channels (web, mobile, app, sites, social media, etc.). 
                        br 
                        |  With Dochase DSP, you are sure to increase sales, improve brand awareness, influence consumers action, drive app installations and more.

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.justify-content-center
                .col-lg-6
                    .text-center
                        .text-xs.text-uppercase-expanded.text-red.mb-2
                            b WHY DOCHASE?
                        h3.mb-5.text-teal Africa&apos;s leading internet advertising technology company
            .row
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up')
                    a.card.text-center.text-decoration-none.h-100
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                                i(data-feather='database')
                            h5
                                b Content That Influences
                            p.card-text
                                | Because we are culture sensitive, we create branded content that resonates with the target, drives awareness and improve salience.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up' data-aos-delay='100')
                    a.card.text-center.text-decoration-none.h-100
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-red-soft.text-red.mb-4
                                i(data-feather='globe')
                            h5
                                b Impact Driven Experiences
                            p.card-text
                                | Focused on consumer behaviour and insight to create digital experiences that works.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up' data-aos-delay='150')
                    a.card.text-center.text-decoration-none.h-100
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-yellow-soft.text-yellow.mb-4
                                i(data-feather='map-pin')
                            h5
                                b Technology Merged With Creativity
                            p.card-text
                                | Leveraging the limitless possibilities and innovation of media and tech to deliver memorable consumer campaigns that puts you ahead.
    
    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.justify-content-center
                .col-lg-6
                    .text-center
                        h1.text-red
                            b OUR OFFERINGS AT A GLANCE
                br
                br
            .row
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up')
                    .text-center
                        h3.text-teal
                            b DOCHASE ADX
                    ul(style='list-style-image: url(assets/img/RedBall.gif);')
                        li Click-to-call
                        li Click-to-WhatsApp
                        li Click-to-USSD
                        li Targeted SMS &amp; USSD
                        li Interactive Voice Response
                        li Display (Rich Media)
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up' data-aos-delay='100')
                    .text-center
                        h3
                            b
                                a.text-teal(href='https://flashmedia.ng/') FLASHMEDIA
                    ul(style='list-style-image: url(assets/img/RedBall.gif);')
                        li Community Management
                        li Influencer Engagement
                        li Paid Marketing &amp; Media Buying
                        li SEO &amp; SEM
                        li Email Newsletter
                        li Digital Experiential
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up' data-aos-delay='150')
                    .text-center
                        h3
                            b
                                a.text-teal(href='https://www.flashimpress.com/') FLASHIMPRESS
                    ul(style='list-style-image: url(assets/img/RedBall.gif);')
                        li Editorial Content
                        li Creative Storytelling
                        li Graphics and Infographics
    
    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'pt-5',
        sectionPadding: 'pb-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-teal'
    })

        .container
            .row.justify-content-center
                .col-lg-6
                    .mb-5.text-center
                        h1
                            b.text-teal  DOCHASE IN THE NEWS
                        p.lead.mb-0 Here are some of the things the media say about us.
            .row
                .col-lg-3.mb-5.mb-lg-0
                    a.card.lift(href='https://www.legit.ng/1132025-dochase-disrupts-advertising-landscape-technology.html#1132025' target='_blank')
                        img.card-img-top(src='assets/img/Media-Disruptive-Advertising-Africa.png' alt='...')
                        .card-body.text-center.py-3
                            h6.card-title.mb-0 Dochase disrupts advertising landscape with new technology
                            .small.mb-2 by Mitchelle Okuku
                            .small from Legit NG
                        .card-footer.text-center.text-xs
                            i.fas.fa-store-alt.mr-1
                            | Opened October 25, 2017
                .col-lg-3.mb-5.mb-lg-0
                    a.card.lift(href='https://www.vanguardngr.com/2018/10/tech-firms-location-app-to-fish-out-advert-targets-on-internet/' target='_blank')
                        img.card-img-top(src='assets/img/tech-firm.png' alt='...')
                        .card-body.text-center.py-3
                            h6.card-title.mb-0 Tech firm&rsquo;s location app to fish out advert targets on internet
                            .small.mb-2 by Juliet Umeh
                            .small from Vanguard News
                        .card-footer.text-center.text-xs
                            i.fas.fa-store-alt.mr-1
                            | Opened October 10, 2018
                .col-lg-3
                    a.card.lift(href='https://www.thisdaylive.com/index.php/2017/12/29/the-guys-attempting-to-disrupt-advertising-in-africa/' target='_blank')
                        img.card-img-top(src='assets/img/Media-Digital-Ads.png' alt='...')
                        .card-body.text-center.py-3
                            h6.card-title.mb-0 The Guys Attempting to Disrupt Advertising in Africa
                            .small.mb-2 by Solomon Elusoji
                            .small from This Day, NG
                        .card-footer.text-center.text-xs
                            i.fas.fa-store-alt.mr-1
                            | Opened December 29, 2017
                .col-lg-3
                    a.card.lift(href='https://www.adexchanger.com/ad-exchange-news/programmatic-spending-comes-africa/' target='_blank')
                        img.card-img-top(src='assets/img/Media-Programmatic-Africa.png' alt='...')
                        .card-body.text-center.py-3
                            h6.card-title.mb-0 Programmatic Spending Comes To Africa
                            .small.mb-2 by Sarah Sluis
                            .small from AdExchanger, US
                        .card-footer.text-center.text-xs
                            i.fas.fa-store-alt.mr-1
                            | Opened November 30, 2016
            br
            br
            .text-center
                a.btn.btn-teal.btn-marketing.rounded-pill(href='https://blog.dochase.com/') Read More
          



block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-white',
        footerStyle: 'footer-light'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
