extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Ad Quality'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-teal'
    })

        .container
            .row.justify-content-center
                .col-lg-10.mt-5

                    h1 Ad Quality
                    p.lead Last updated: January 2020

                    hr.my-5

                    h2.mb-3 Overview
                    p Dochase Adx has defined policies that govern the types of ads that are acceptable within Dochase Ad Exchange.
                    p These policies are explained in the Dochase Ad Exchange Demand Policies.
                    p Listed below are examples of actions that Dochase does not allow: 

                    ul(style='list-style-image: url(assets/img/RedBall.gif); text-shadow: aliceblue;')
                        li.page-header-text
                            | For in-banner video, playing audio that is not triggered by a click (such as auto-play or rollover-initiated audio).
                        br
                        li.page-header-text
                            | Automatically refreshing ads.
                        br
                        li.page-header-text
                            | Installing spyware, trojans, viruses, or other malware.
                        br
                        li.page-header-text
                            | Automatically redirecting the user to a new page or app.
                        br
                        li.page-header-text
                            | Displaying nudity or suggestive content or images.
                        br
                        li.page-header-text
                            | Promoting electronic cigarettes or vaping devices.
                        br
                        li.page-header-text
                            | Selling or promoting firearms, ammunition, bombs or other weapons, or related design materials, including handgun safety certificates and BB guns.
                        br
                        li.page-header-text
                            | Promoting online gambling (including daily fantasy sports in jurisdictions where daily fantasy sports is considered to be illegal online gambling).
                        br
                        li.page-header-text
                            | Opening a pop-up on a webpage, upon banner open, or upon page exit.
                        br
                        li.page-header-text
                            | Promoting or facilitating the use of illegal drugs, such as marijuana.

                    hr.my-5

                    h2.mb-3 Dochase safeguards
                    p To ensure that partners adhere to Dochase Ad Exchange policies, Dochase takes the following additional steps:
                    ul(style='list-style-image: url(assets/img/RedBall.gif); text-shadow: aliceblue;')
                        li.page-header-text
                            | Scans all ad creatives in Dochase Ad Exchange with its proprietary scanner.
                        br
                        li.page-header-text
                            | Uses third-party vendors (The Media Trust) to scan ads for malware and redirects, and to autoblock violating creatives.
                        br
                        li.page-header-text
                            | Staffs a dedicated ad quality team that ensures all ads are scanned and meet Dochase Ad Exchange ad quality standards. This team also provides 24/7.
                        br
                        li.page-header-text
                            | Support for ad quality complaints.
                        br
                        li.page-header-text
                            | Rigorously vets new buyers during their onboarding process into Dochase Ad Exchange.

                    hr.my-5

                    .card.z-1.mb-n10
                        .card-body.text-center.py-5
                            h2.mb-3 We're always available to help
                            a.btn.btn-teal.btn-marketing.rounded-pill(href='index.html#contact-us') Contact Us

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-white',
        footerStyle: 'footer-light'
    })