extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Chatbot'

append css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

   
    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-50',
        pageHeaderBgImg: 'background-image: url("assets/img/chatbot-main.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.py-5
            .container
                .row.justify-content-left
                    .col-xl-8.col-lg-10.text-left
                        div(data-aos='fade-up')
                            h1.page-header-title
                                b DOCHASE CHATBOT
                            br
                            ul(style='list-style-image: url(assets/img/RedBall.gif); text-shadow: aliceblue;')
                                li.page-header-text
                                    | Respond in real-time to your customers' requests
                                li.page-header-text
                                    | Automate conversation to improve your services to larger customers
                                li.page-header-text
                                    | Display products features in chats
                                li.page-header-text
                                    | Leverage insights from conversation data report to improve your services.
                            br
                            br
                        a.btn.btn-red.btn-marketing.rounded-pill(href='index.html#contact-us') Contact us

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container
            .row
                .col-lg-3
                    ul.list-group.list-group-flush.list-group-careers
                        li.list-group-item.pt-0
                            a(href='#chatbot-description').small
                                i.fas.fa-arrow-left.mr-1
                                | Chatbot Description
                            i.fas.fa-globe.fa-fw.text-gray-400
                        li.list-group-item
                            a(href='index.html#contact-us')
                                | Get Quote
                            i.fas.fa-clock.fa-fw.text-gray-400
                .col-lg-9
                    h1.mb-4 Our Chatbot
                    p.lead.mb-4 This is AI powered virtual staff to attend to your customers, answer their questions, show them product and make sales. Using the sets of questions and corresponding answers as it relates to your business, we are able to use our to dynamically meet the client’s customer requests effectively.
                    p.lead.mb-4 We offer you the chance to exist in multiple dimensions because your customers would barely know they are interacting with our Chatbot and not you in person, that’s how efficient our WhatsApp Chatbot is.
                    
                    p.lead.mb-3 
                        b Chat with Jennifer(Bot) on WhatsApp  
                            a.text-teal(href='https://wa.me/+2348090170906?text=Hi' target='_blank') here
                    ul.fa-ul.mb-5
                        li.mb-3
                            span.fa-li
                                i.far.fa-dot-circle.text-danger
                            | This is customizable, automated business response (Chatbot) and can be built to meet your business needs.

    hr.my-0

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.justify-content-center
                .col-lg-6
                    .text-center
                        .text-xs.text-uppercase-expanded.text-red.mb-2
                            b WHY DOCHASE CHATBOTS?
                        h3.mb-5.text-teal Everything Mobile - Customers have gone mobile so your business needs to do it all mobile
            .row
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up')
                    a.card.text-center.text-decoration-none.h-100
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                                i(data-feather='database')
                            h5
                                b 24/7 Availability
                            p.card-text
                                | Make your business and services avialble to customers 24 hours with no downtime. Customers can interact with you from anywhere at anytime.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up' data-aos-delay='100')
                    a.card.text-center.text-decoration-none.h-100
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-red-soft.text-red.mb-4
                                i(data-feather='globe')
                            h5
                                b Product Shop
                            p.card-text
                                | Show product, prices images, use cases and let the customer make choices. You can integrate payment links to accept payments from customers. Close the sales in seconds.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up' data-aos-delay='150')
                    a.card.text-center.text-decoration-none.h-100
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-yellow-soft.text-yellow.mb-4
                                i(data-feather='map-pin')
                            h5
                                b Expand Scale
                            p.card-text
                                | Do business at scale with millions of users at the same time. Multiple people from many locations can be on your shopfront at the same time with the same quality service and standard.                
                    
    
    include mixins/section.pug
    +section({
        sectionBg: 'bg-img-repeat bg-light',
        sectionBgImg: 'background-image: url("assets/img/pattern-shapes.png")',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })
        
        #chatbot-mockup.container
            .row.align-items-center
                .col-lg-6
                    .badge.badge-marketing.badge-pill.badge-teal-soft.text-teal.mb-3 Start today!
                    h1.page-header-title Get more conversion, more loyal customers, and more revenue
                    p.page-header-text With a TWO-WEEK delivery period, we can get your business up and running on 24/7 efficient customer service through our chatbot (Jenny).
                    | Feel free to interact with Jennifer (our chatbot) by clicking the circular dochase icon at the bottom-side of your screen. Note, we can customize the chatbot to suit your business needs, so your business operational flow must not match with our demo.
                .col-lg-6
                    #discussionCarousel.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .carousel-item.active
                                img.img-fluid.content-skewed-item.shadow-lg.rounded-lg(src='assets/img/discussion.jpg' alt='')
                            .carousel-item
                                img.img-fluid.content-skewed-item.shadow-lg.rounded-lg(src='assets/img/whatsapp-discussion.png' alt='')
                        a.carousel-control-prev(href='#discussionCarousel' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#discussionCarousel' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
                a.btn.btn-teal.btn-marketing.rounded-pill(href='index.html#contact-us') Contact Us

    hr.my-0

    

    hr.my-0

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-teal'
    })
        .container

            .row.align-items-center.mb-10
                .col-lg-6
                    .h4.font-weight-normal Ready to get started?
                    p.lead.mb-0.text-gray-500 Get in touch with us to deploy our chatbot for your business.
                .col-lg-6.text-lg-right
                    a.btn.btn-teal.btn-marketing.rounded-pill.mr-3.my-2.lift.lift-sm(href='index.html#contact-us') Contact Us
                    
                

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-white',
        footerStyle: 'footer-light'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });