extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Rich Media'

append css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

   
    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-50',
        pageHeaderBgImg: 'background-image: url("assets/img/Rich-Media.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.py-5
            .container
                .row.justify-content-left
                    .col-xl-8.col-lg-10.text-left
                        div(data-aos='fade-up')
                            h1.page-header-title
                                b RICH MEDIA
                            br
                            p.text-white
                                b Reach users with our set of dynamic ad formats. These include cubes, rotating banners, gamified and lots more. Creativity never ends!
                            br
                            br
                        a.btn.btn-red.btn-marketing.rounded-pill(href='index.html#contact-us') Contact us


    //- * * * * * * * * * * *
    //- * * Pages Tiles * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-5',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container
            .card.text-center.text-decoration-none.h-100
                br
                br
                h1
                    b.text-red Rich Media Ads
                .card-body.bg-light-soft.py-5
                    p.text-justified.text-center
                        | With Rich Media Ads, you can capture the attention of potential and existing customers by prompting them to interact with the ad and provide a more engaging experience.
                    p.text-justified.text-center
                        | Rich Media ads present new experience and measurable statistics including interactions with sections of the banners and Banner purchases. This takes away ads from irritation to fascination.
                    p.text-justified.text-center
                        | Rich media advertising format is all about flexibility - it floats, plays, and expands while the user interacts with a landing page.
                    br
                    .text-center
                        a.btn.btn-teal.btn-marketing.rounded-pill(href='about-us.html') Learn More


    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-5',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.align-items-center
                .col-lg-6(data-aos='fade-up')
                    h1.page-header-title.text-center
                        b Our Rich Media Ad Types
                    ul(style='list-style-image: url(assets/img/RedBall.gif); text-shadow: aliceblue;')
                        li.page-header-text
                            b In Page Ad: 
                            | Rich Media Ads that appears in a rectangle form within a webpage.
                        li.page-header-text
                            b Out of Page Ad: 
                            | Rich Media Banners that can float, pop up or expand across a web page.
                        li.page-header-text
                            b In-stream Video Ads: 
                            | which involve streaming pre-roll and post-roll video.
                hr
                .col-lg-6.col-md-6.text-right
                    #richMediaCarousel.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .carousel-item.active
                                img.img-fluid.content-skewed-item.shadow-lg(src='assets/img/rich-media1.png' width='300' alt='')
                            .carousel-item
                                img.img-fluid.content-skewed-item.shadow-lg(src='assets/img/rich-media2.png' width='300' alt='')
                            .carousel-item
                                img.img-fluid.content-skewed-item.shadow-lg(src='assets/img/rich-media3.png' width='300' alt='')
                        a.carousel-control-prev(href='#richMediaCarousel' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#richMediaCarousel' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next



    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-teal'
    })

        .container
            .mb-5.text-center
                br
                h1
                    b.text-red Why Rich Media Ads?
            a.card.text-decoration-none.h-100
                .card-body.py-5
                    p.lead.mb-0.text-center
                        | There is very little down side to rich media advertising. And there are many benefits to investing in this exciting evolution of online marketing.


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-white',
        footerStyle: 'footer-light'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
